Body {
    Background-color: gray
    }
.What{
    color: black;
}
.What2{
    color: #2400FF;
}
.What3{
    color: #00461C;
}
.paragraph{
    color: red;
}
.paragraph2{
    color: red;
}
.paragraph3{
    color: black;
}
